<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.city.mapper.CharactersMapper">

    <resultMap id="charactersResultMap" type="com.study.city.entity.tianxing.Characters">
        <id property="brithday" column="brithday"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
    </resultMap>

    <insert id="addCharacters" parameterType="com.study.city.entity.tianxing.Characters">
        insert into characters
        (brithday,title,content)
        values
        (#{brithday},#{title},#{content})
    </insert>

    <!--用code查询区-->
    <select id="getCharacters" resultMap="charactersResultMap" parameterType="java.lang.String">
        select brithday,title,content from characters where brithday = #{brithday}
    </select>

    <!--所有的区域-->
    <select id="getAllCharacters" resultMap="charactersResultMap">
        select brithday,title,content from characters
    </select>

</mapper>