<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.city.mapper.GoldMapper">
    <resultMap id="goldMap" type="com.study.city.entity.gold.Gold">
        <id property="type" column="type"/>
        <result property="typename" column="typename"/>
        <result property="price" column="price"/>
        <result property="openingprice" column="openingprice"/>
        <result property="maxprice" column="maxprice"/>
        <result property="minprice" column="minprice"/>
        <result property="changepercent" column="changepercent"/>
        <result property="lastclosingprice" column="lastclosingprice"/>
        <result property="tradeamount" column="tradeamount"/>
        <result property="updatetime" column="updatetime"/>
        <result property="date" column="date"/>
        <result property="buyprice" column="buyprice"/>
        <result property="sellprice" column="sellprice"/>
        <result property="finalprice" column="finalprice"/>
        <result property="closingprice" column="closingprice"/>
        <result property="changequantity" column="changequantity"/>
        <result property="amplitude" column="amplitude"/>
        <result property="midprice" column="midprice"/>
        <result property="exchangeType" column="exchange_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createDate" column="create_date"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="selectFields">
        g.type,
        g.typename,
        g.price,
        g.openingprice,
        g.maxprice,
        g.minprice,
        g.changepercent,
        g.lastclosingprice,
        g.tradeamount,
        g.updatetime,
        g.date,
        g.buyprice,
        g.sellprice,
        g.finalprice,
        g.closingprice,
        g.changequantity,
        g.amplitude,
        g.midprice,
        g.exchange_type,
        g.create_by,
        g.create_date,
        g.update_by,
        g.update_date
    </sql>
    <select id="getGolds" resultMap="goldMap">
        SELECT
        <include refid="selectFields"></include>
        FROM
        gold g
    </select>

    <insert id="addGold" parameterType="com.study.city.entity.gold.Gold">
        insert into gold (
        type,
        typename,
        price,
        openingprice,
        maxprice,
        minprice,
        changepercent,
        lastclosingprice,
        tradeamount,
        updatetime,
        date,
        create_date,
        create_by,
        buyprice,
        sellprice,
        finalprice,
        closingprice,
        changequantity,
        amplitude,
        midprice,
        exchange_type
        )
        values
        (
        #{type},#{typename},#{price},#{openingprice},#{maxprice},
        #{minprice},#{changepercent},#{lastclosingprice},#{tradeamount},#{updatetime},
        #{date},#{createDate},#{createBy},#{buyprice}, #{sellprice},
        #{finalprice}, #{closingprice}, #{changequantity}, #{amplitude}, #{midprice},
        #{exchangeType}
        )
    </insert>

    <update id="updateGlod" parameterType="com.study.city.entity.gold.Gold">
        update gold
        <set>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="typename != null">
                typename = #{typename,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="openingprice != null">
                openingprice = #{openingprice},
            </if>
            <if test="maxprice != null">
                maxprice = #{maxprice},
            </if>
            <if test="minprice != null">
                minprice = #{minprice},
            </if>
            <if test="changepercent != null">
                changepercent = #{changepercent},
            </if>
            <if test="lastclosingprice != null">
                lastclosingprice = #{lastclosingprice},
            </if>
            <if test="tradeamount != null">
                tradeamount = #{tradeamount},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="buyprice != null">
                buyprice = #{buyprice,jdbcType=VARCHAR},
            </if>
            <if test="sellprice != null">
                sellprice = #{sellprice,jdbcType=VARCHAR},
            </if>
            <if test="finalprice != null">
                finalprice = #{finalprice,jdbcType=VARCHAR},
            </if>
            <if test="closingprice != null">
                closingprice = #{closingprice,jdbcType=VARCHAR},
            </if>
            <if test="changequantity != null">
                changequantity = #{changequantity,jdbcType=VARCHAR},
            </if>
            <if test="amplitude != null">
                amplitude = #{amplitude,jdbcType=VARCHAR},
            </if>
            <if test="midprice != null">
                midprice = #{midprice,jdbcType=VARCHAR},
            </if>
            <if test="exchangeType != null">
                exchange_type = #{exchangeType,jdbcType=VARCHAR},
            </if>
        </set>
        where type = #{type,jdbcType=VARCHAR} and date = #{date,jdbcType=VARCHAR}
    </update>

    <select id="getGoldByTypeAndDate" resultMap="goldMap" parameterType="java.util.Map">
        select * from gold a where a.type = #{type} and a.date = #{date}
    </select>

    <select id="getGoldHistory" resultMap="goldMap" parameterType="java.util.Map">
        select
        <include refid="selectFields"></include>
        from gold g
        where
        1 = 1
        <if test="startDate!=null and startDate!=''">
            and g.date &gt; #{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
            and g.date &lt; #{endDate}
        </if>
        <if test="exchangeType!=null and exchangeType!=''">
            and g.exchange_type = #{exchangeType}
        </if>
        <if test="type!=null and type!=''">
            and g.type = #{type}
        </if>
        <if test="typename!=null and typename!=''">
            and g.typename = #{typename}
        </if>
        order by g.create_date
    </select>
    <!--
        xml特殊符号转义写法
            &lt; <
            &gt; >
            &lt;&gt; <>
            &amp; &
            &apos; '
            &quot; "
        -->
</mapper>
