<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.city.mapper.ProvinceMapper">

    <resultMap id="provinceResultMap" type="com.study.city.entity.Province">
        <id property="code" column="code"/>
        <result property="area" column="area"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="generation" column="generation"/>
        <result property="centre" column="centre"/>
    </resultMap>

    <!--所有的区域-->
    <select id="getAllProvincelist" resultMap="provinceResultMap">
        select p.code,p.area,p.name,p.type,p.generation,p.centre from province p
    </select>

    <!--根据省编码查询省信息-->
    <select id="getProvinceByCode" resultMap="provinceResultMap" parameterType="java.lang.String">
        select p.code,p.area,p.name,p.type,p.generation,p.centre from province p where p.code = #{provinceCode};
    </select>

    <!--根据省名称查询省信息-->
    <select id="getProvinceByName" resultMap="provinceResultMap" parameterType="java.lang.String">
        select p.code,p.area,p.name,p.type,p.generation,p.centre from province p where p.name like "%" #{name} "%";
    </select>
</mapper>